.navbar{
    background-color:#0E0E0E !important;
    position: fixed;
}
.navbar-brand{
    color: #E97000 !important;
    padding-Left:70px !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #E97000 !important;
}
